<head>
  <title>Админка - добавить WOD</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/front/controllers/utils.js"></script>
    <script type="text/javascript" src="/front/controllers/common.js"></script>
    <script type="text/javascript" src="/front/controllers/admin-add-user-controller.js"></script>
    <link rel="stylesheet" type="text/css" href="/front/styles/common.css" media="screen" />
</head>
<body>
  <div id="header" class="header">
    <div>
      Вы вошли как <b><span id="login_user_name"></span></b>
      <a href onclick="logout()" >выйти</a>
    </div>
    <div class="admin_menu">
      <a href="/admin/addWod">Добавить WOD</a>
      <a href="/admin/addUser">Добавить пользователя</a>
      <a href="/admin/viewWods">Просмотр WOD'ов</a>
    </div>
  </div>
  <div id="add_user_form" class="add_user_form">
    <h4>Добавить пользователя:</h4>
    <table class="wod_table">
      <tr>
        <td>
          Имя:
        </td>
        <td>
          <input id="user_fullname" type="text" />
        </td>
      <tr>
        <td>
          Логин:
        </td>
        <td>
          <input id="user_login" type="text" />
        </td>
      </tr>
      <tr>
        <td>
          Пароль:
        </td>
        <td>
          <input id="user_password" type="text" />
          <input id="generatePassword_button" type="button" onclick="generatePassword()" value="Придумай за меня" class="button" />
        </td>
      </tr>
      <tr>
        <td>
          Права администратора:
        </td>
        <td>
          <input id="user_admin" type="checkbox" />
        </td>
      </tr>
    </table>
    <input id="addUser_button" type="button" onclick="addUser()" value="Добавить" class="button_add" />
    <p><span id="result_message"></span><span id="error_message" class="error"></span></p>
    </div>
  </div>
</body>
