<% var title = 'Yurkin' %>
<% include head %>
<div class='login-form' id='login-form'>
  <h1>Вход</h1>
  <%- message %>
  <form method="post" action="/login">
    <p>
      <label>Пользователь:</label>
      <input type="text" name="username">
    </p>
    <p>
      <label>Пароль:</label>
      <input type="text" name="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>
</div>
<% include foot %>
