<html>
  <head>
    <title>Константин Юркин - персональный тренер</title>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="/front/controllers/utils.js"></script>
      <script type="text/javascript" src="/front/controllers/login-controller.js"></script>
  </head>
  <body>
    <div class="login_form">
      <p>Login: <input id="login_text" type="text" /></p>
      <p>Password: <input id="password_text" type="password" /></p>
      <p><input id="login_button" type="button" onclick="login()" value="login!" /></p>
    </div>
  </body>
</html>
