<html>
  <head>
    <title>Константин Юркин - персональный тренер</title>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
      <script type="text/javascript" src="/front/controllers/utils.js"></script>
      <script type="text/javascript" src="/front/controllers/login-controller.js"></script>
      <link rel="stylesheet" type="text/css" href="/front/styles/common.css" media="screen" />
  </head>
  <body>
    <div class="login_form" id="login_form">
      <p>Пожалуйста, войдите</p>
      <p>Логин: <input id="login_text" type="text" /></p>
      <p>Пароль: <input id="password_text" type="password" /></p>
      <p><input id="login_button" type="button" onclick="login()" value="Войти" class="button" /></p>
      <p><span id="result_message" class="error"></span></p>
    </div>
  </body>
</html>
