<head>
  <title>Константин Юркин - список тренировок</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../controllers/utils.js"></script>
    <script type="text/javascript" src="../controllers/mainpage-controller.js"></script>
</head>
<body>
  <div id="header" class="header">
    Вы вошли как %username%
    <a href onclick="logout()" >выйти</a>
  </div>
  <div id="wods">
    <h4>Ваши тренировки:</h4>
    <table class="wod_table">

    </table>
  </div>
</body>
